/*
!.gitignore
!sysctl.conf
!zoomus.conf
!mimeapp.list
!pavucontrol.ini

!/virt-viewer
!/ricemood
!/systemd
!/rofi
!/libvirt
!/dunst
!/networkmanager-dmenu
!/redshift
!/ncmpcpp
!/conky
!/lvim

!/i3
/i3/*
!/i3/config

!/nvim
nvim/*
!/nvim/init.vim

!/tmux
tmux/*
!/tmux/.tmux.conf

!/htop
htop/*
!/htop/htoprc

!/ranger
ranger/*
!/ranger/rc.conf
!/ranger/rifle.conf

